{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin Pro</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
<nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
    <a class="navbar-brand" href="">FRH</a>


</nav>
<div id="">

    <div class="mt-10">
        <main>
            <div class="container-fluid mt-5">
                <div class="alert alert-primary border-0 mb-4 mt-5 px-md-5">
                    <div class="position-relative">
                        <div class="row align-items-center justify-content-between">
                            <div class="col position-relative">
                                <h2 class="text-primary">¡Bienvenido de nuevo, tu panel está listo!</h2>
                                <p class="text-gray-700">¡Buen trabajo, tu panel de afiliados está listo para usar!
                                    Puedes
                                    ver ventas, generar enlaces, preparar cupones y descargar informes de afiliados
                                    usando
                                    este panel.</p>
                                <a class="btn btn-teal" href="{% url 'login' %}">Comenzar<i class="ml-1"
                                                                                            data-feather="arrow-right"></i></a>
                            </div>
                            <div class="col d-none d-md-block text-right pt-3">
                                <img class="img-fluid mt-n5"
                                     src="{% static 'assets/img/drawkit/color/drawkit-content-man-alt.svg' %}"
                                     style="max-width: 25rem;"/></div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 small">Copyright &copy; Your Website 2020</div>
                    <div class="col-md-6 text-md-right small">
                        <a href="#!">Privacy Policy</a>
                        &middot;
                        <a href="#!">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
</body>
</html>
